[user]
	name = Snorre lothar von Gohren Edwin
	mail = snorre.edwin@gmail.com
	email = snorre.edwin@gmail.com
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
